/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
}

#login-btn, #sign-up-btn, #join-now-btn {
    transition: 0.3s ease, color 0.3s ease;
}

#login-btn:hover, #sign-up-btn:hover, #join-now-btn:hover {
    transform: translateY(-2px);
}

/* Navbar container */
#navbar {
    width: 100%;
    height: auto;
    background-color: #121212;
    padding: 12px 24px;
    position: sticky;
    top: 0;
}

/* Inside navbar */
#navbar-div {
    max-width: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo + name */
#website-logo {
    display: flex;
    align-items: center;
    text-decoration: none; 
}

/* Website logo image */
#website-logo img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

/* Website name text */
#website-name {
    color: #9590FF;     
    font-size: 1.5rem;   
}


/* Login Button */ 
#login-btn {
    height: 30px;
    width: 80px;
    background-color: #9590ff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 8px;
}

/* Login Button Hover */
#login-btn:hover {
    background-color: #7F7CFF;  /* darker shade */
    cursor: pointer;
}

/* Sign Up Button */ 
#sign-up-btn {
    height: 30px;
    width: 80px;
    background-color: #FFFFFF;
    border: solid 1px #2A2A2A;
    border-radius: 5px;
    color: #9590FF;
    font-size: 1rem;
    font-weight: 700;
}

/* Sign Up Button Hover */
#sign-up-btn:hover {
    background-color: #9590FF;
    color: #FFFFFF;
    cursor: pointer;
}


/* Welcome Container */
#welcome-div {
    width: 100%;
    height: auto;
    background-color: #121212;
    color: #ffffff;
    padding: 80px 32px;
    text-align: center;
}

#welcome-div h1 {
    font-size: 4rem;
}

#welcome-div p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Join now Button */ 
#join-now-btn {
    height: 44px;
    width: 100px;
    background-color: #9590FF;
    border: solid 1px #000000;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

#join-now-btn:hover {
    background-color: #7F7CFF;
    color: #FFFFFF;
    cursor: pointer;
}



#features-div {
    width: 100%;
    height: auto;
    padding: 72px 30px;
    background-color: #121212;
}

#features-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#features-tag {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

#feature-cards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.feature-cards {
    color: #FFFFFF;
    max-width: 400px;
    height: auto;
    background-color: #9590FF;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.4s ease;
}

.feature-cards img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.feature-cards h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.feature-cards p {
    font-size: 0.95rem;
}

/* Hover effect */
.feature-cards:hover {
    transform: translateY(-10px);
    transition: 0.4s ease;
}

